* {
    -fx-color-primary: #C44881;
    -fx-color-primary-tint: #C95A8D;
    -fx-color-secondary: #FFFFFF;
    -fx-color-background: #545454;
    -fx-color-foreground: #FFFFFF;
    -fx-color-category-background: #F2F2F2;
    -fx-color-category-foreground: #777777;
    -fx-color-table-base: #777777;
    -fx-color-border: #CCCCCC;
    -fx-color-layout-background: #FCFCFC;
    -fx-color-region: rgba(0, 0, 0, 0.4);
    -fx-color-alert: #F0AD4E;
}

/* layout */
#BorderPane {
    -fx-background-color: -fx-color-layout-background;
    -fx-border-color: -fx-color-border;
    -fx-border-width: 1;
    -fx-cursor: default;
}
#BorderPane:pressed {
    -fx-cursor: move;
}
#header {
    -fx-background-color: -fx-color-background;
}
#title, #title .font-icon {
    -fx-text-fill: -fx-color-foreground;
    -fx-font-size: 12px;
}
#title .font-icon {
    -fx-font-size: 15px;
}
.region {
    -fx-background-color: -fx-color-region;
}
/* alert */
#message {
    -fx-text-fill: -fx-color-background;
    -fx-font-size: 11px;
}
#message.label-danger {
    -fx-text-fill: -fx-color-alert;
    -fx-font-size: 12px;
}
#message.label-danger .font-icon {
    -fx-font-size: 24px;
    -fx-text-fill: -fx-color-alert;
}

/* default button */
.button-with-font-icon.default, .button-with-font-icon.default .font-icon {
    -fx-text-fill: -fx-color-secondary;
    -fx-font-size: 15px;
}
.button-with-font-icon.default {
    -fx-background-color: -fx-color-primary;
    -fx-padding: 6 18 6 18;
    -fx-font-size: 11px;
}
.button-with-font-icon.default:hover, .button-with-font-icon.default:hover .font-icon {
    -fx-background-color: -fx-color-primary-tint;
    -fx-cursor: hand;
}

/* special button */
.button-with-font-icon.special, .button-with-font-icon.special .font-icon {
    -fx-text-fill: -fx-color-secondary;
    -fx-font-size: 15px;
}
.button-with-font-icon.special {
    -fx-background-color: transparent;
    -fx-padding: 6 0 6 0;
    -fx-font-size: 10px;
}
.button-with-font-icon.special:hover, .button-with-font-icon.special:hover .font-icon {
    -fx-text-fill: -fx-color-primary;
    -fx-cursor: hand;
}

/* category button */
.button-with-font-icon.category, .button-with-font-icon.category .font-icon {
    -fx-text-fill: -fx-color-category-foreground;
    -fx-font-size: 20px;
}
.button-with-font-icon.category {
    -fx-background-color: -fx-color-category-background;
    -fx-padding: 6 0 6 0;
    -fx-font-size: 11px;
}
.button-with-font-icon.category.active, .button-with-font-icon.category.active .font-icon,
.button-with-font-icon.category:hover, .button-with-font-icon.category:hover .font-icon {
    -fx-text-fill: -fx-color-secondary;
    -fx-cursor: hand;
}
.button-with-font-icon.category.active,
.button-with-font-icon.category:hover {
    -fx-background-color: -fx-color-primary;
}
.button-with-font-icon.category.active:hover {
    -fx-background-color: -fx-color-primary-tint;
}

/* table */
.table-view {
    -fx-control-inner-background: -fx-color-foreground;
    -fx-table-header-border-color: -fx-color-border;
    -fx-table-cell-border-color: -fx-color-border;
    -fx-background-color: -fx-color-border;
    -fx-base: -fx-color-table-base;
    -fx-font-size: 11px;
    -fx-padding: 1;
}
.table-view:focused .table-row-cell:filled:focused:selected, 
.table-view .column-header:pressed, .table-view .column-header:active {
    -fx-table-cell-border-color: -fx-color-border;
    -fx-background-color: -fx-color-primary;
}
.table-view .column-header .label {
    -fx-text-fill: -fx-color-border;
    -fx-font-size: 10px;
    -fx-alignment: center;
    -fx-font-weight: normal;
}
.table-view .column-header-background .column-drag-header {
    -fx-background-color: -fx-color-primary-tint;
}

/* input fields */
.text-area, .text-field, .combo-box {
    -fx-background-color: -fx-color-foreground;
    -fx-border-color: -fx-color-border;
    -fx-border-width: 1;
}
.combo-box-popup .list-view .list-cell:filled:hover {
    -fx-background-color: -fx-color-primary;
    -fx-text-fill: -fx-color-secondary;
}