* {
    -fx-color-background: #EEEEEE;
    -fx-color-foreground: #555555;
    -fx-color-border: #CCCCCC;
    -fx-color-background-hover: #FFFFFF;
}

.password-group .button-with-font-icon {
    -fx-background-color: -fx-color-background;
    -fx-text-fill: -fx-color-foreground;
    -fx-border-color: -fx-color-border;
    -fx-padding: 4 6 5 6;
    -fx-font-size: 12px;
}
.password-group .button-with-font-icon:hover, 
.password-group .button-with-font-icon:hover .font-icon {
    -fx-text-fill: -fx-color-background-hover;
    -fx-cursor: hand;
}

.password-group .password-group-left {
    -fx-border-width: 1 0 1 1;
}
.password-group .password-group-right {
    -fx-border-width: 1 1 1 0;
}
.password-group .password-group-middle {
    -fx-background-color: -fx-color-background-hover;
}